.help_text, .randomise-btn, .progress, #progress-text, .btn-group {
    display: none;
}

svg {
    height: 50px;
    width: 70px;
    transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    /* IE 9 */
    -webkit-transform: translate(0px, -10px);
    /* Safari and Chrome */
    -o-transform: translate(0px, -10px);
    /* Opera */
    -moz-transform: translate(0px, -10px);
    /* Firefox */
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

h1 {
    vertical-align: bottom;
}

form {
    position: relative;
    padding-top: 60px;
 }

button {
    position: absolute;
    top: 10px;
    right: 0px;
}