body {
    background-color: #f7f7fa;
    margin: 10px;
    padding: 10px;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
}

label {
    margin-bottom: 0;
}

.card-body h3 {
    color: #E71D36;
}

.match_label {
    text-align: left;
}

.match_radio {
    text-align: left;
}

.form_section {
    border: 2px solid lightgrey;
    background-color: #ffffff;
    padding: 10px;
}

.form_section h3 {
    color: red;
    margin: 2px 0px 2px 0px;
}

p.help_text {
    color: grey;
    margin-top: 5px;
}

table.outcomes-table {
    table-layout: fixed;
    width: 100%;
}

fieldset[disabled] input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #0B77D5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

fieldset[disabled] input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #e6e6e6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}