body {
    background-color: #011627;
    margin: 10px;
    padding: 10px;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
}

tr.row-space>td {
    padding-top: 4px;
}

label {
    margin-bottom: 0;
}

svg {
    height: 50px;
    width: 70px;
    transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    /* IE 9 */
    -webkit-transform: translate(0px, -10px);
    /* Safari and Chrome */
    -o-transform: translate(0px, -10px);
    /* Opera */
    -moz-transform: translate(0px, -10px);
    /* Firefox */
}

.progress .progress-bar {
    background: #011627;
}

.entry-body {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
 }

#btn-group-1 {
    position: absolute;
    top: 10px;
    right: 0px;
}

#btn-group-2 {
    position: absolute;
    bottom: 30px;
    right: 0px;
}
.section-card button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.section-card button svg {
    position: absolute;
    width: 20px;
    left: 4px;
}

.section-card svg {
    height: 20px;
}

.entry-card {
    background: white;
    border-radius: 30px;
    padding: 20px;
  }

.section-card {
    border-radius: 10px;
    border-color: lightgrey;
}

.option-text {
    color: #2EC4B6;
    text-align: left;
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    color: #E71D36;
}

.match_date {
    text-align: left;
}

.match_label-lg {
    text-align: left;
}

.match_label-sm {
    text-align: left;
}

@media screen and (max-width: 700px) {
    .match_label-lg {
      display: none;
    }
}
  
@media screen and (min-width: 701px) {
    .match_label-sm {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .player-label-lg {
      display: none;
    }
}
  
@media screen and (min-width: 1301px) {
    .player-label-sm {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .final-label-lg {
      display: none;
    }
}
  
@media screen and (min-width: 501px) {
    .final-label-sm {
        display: none;
    }
}

.fifty-fifty-label-lg {
    text-align: left;
}

.fifty-fifty-label-sm {
    text-align: left;
}

@media screen and (max-width: 540px) {
    .fifty-fifty-label-lg {
      display: none;
    }
}
  
@media screen and (min-width: 541px) {
    .fifty-fifty-label-sm {
        display: none;
    }
    .very-small-display-label {
        display: none;
    }
}


.match_radio {
    text-align: left;
}

.form_section {
    border: 2px solid lightgrey;
    background-color: #ffffff;
    padding: 10px;
}

.form_section h3 {
    color: red;
    margin: 2px 0px 2px 0px;
}

p.help_text {
    color: grey;
    margin-top: 5px;
}

table.top-teams-table {
    table-layout: fixed;
}

th.top-team-column {
    width: 70px;
}

@media screen and (min-width: 750px) {
    .small-display-label {
        display: none;
    }
}

fieldset[disabled] input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #0B77D5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

fieldset[disabled] input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #e6e6e6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}