body {
    background-color: #011627;
    margin: 10px;
    padding: 10px;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
}

label {
    margin-bottom: 0;
}

svg {
    height: 50px;
    width: 70px;
    transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    /* IE 9 */
    -webkit-transform: translate(0px, -10px);
    /* Safari and Chrome */
    -o-transform: translate(0px, -10px);
    /* Opera */
    -moz-transform: translate(0px, -10px);
    /* Firefox */
}

.progress .progress-bar {
    background: #011627;
}

.entry-body {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
 }

#btn-group-1 {
    position: absolute;
    top: 10px;
    right: 0px;
}

#btn-group-2 {
    position: absolute;
    bottom: 30px;
    right: 0px;
}
.section-card button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.section-card svg {
    height: 20px;
}

.entry-card {
    background: white;
    border-radius: 30px;
    padding: 20px;
  }

.section-card {
    border-radius: 10px;
    border-color: lightgrey;
}

.option-text {
    color: #2EC4B6;
}

.card-body h3 {
    color: #E71D36;
}

.match_label {
    text-align: left;
}

.match_radio {
    text-align: left;
}

.form_section {
    border: 2px solid lightgrey;
    background-color: #ffffff;
    padding: 10px;
}

.form_section h3 {
    color: red;
    margin: 2px 0px 2px 0px;
}

p.help_text {
    color: grey;
    margin-top: 5px;
}

table.outcomes-table {
    table-layout: fixed;
    width: 100%;
}

fieldset[disabled] input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #0B77D5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

fieldset[disabled] input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #e6e6e6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}