{% extends "users/profile_base.html" %}
{% load static %}
{% load humanize %}

{% block button %}
<div class="col-1">
  <a href="{% url 'profile_edit' %}" class="btn btn-light btn-sm">Edit</a>
</div>
{% endblock button %}


{% block profile %}

  <div class="card border-light shadow-sm mb-4">
  <div class="card-body">
    <h4>Summary</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      {% for entry in user.profile.entries.all %}
        {% if entry.label %}
          <th scope="col">
            {% if entry.has_submitted %}
            <a href="{% url 'enter:view_entry' entry.id %}">Entry {{ entry.label }}</a>
            {% else %}
            <div>Entry {{ entry.label }}</div>
            {% endif %}
          </th>
        {% else %}
          {% if request.user == user %}
          <th scope="col">
            {% if entry.has_submitted %}
            <a href="{% url 'enter:view_entry' entry.id %}">My Entry</a>
            {% else %}
            <div>My Entry</div>
            {% endif %}
          </th>
          {% else %}
          <th scope="col">
            {% if entry.has_submitted %}
            <a href="{% url 'enter:view_entry' entry.id %}">{{ user.username }}'s Entry</a>
            {% else %}
            <div>{{ user.username }}'s Entry</div>
            {% endif %}
          </th>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Current Position</th>
      {% for entry in user.profile.entries.all %}
        <td scope="col">{{ entry.current_position|ordinal }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">Current Score</th>
      {% for entry in user.profile.entries.all %}
        <td scope="col">{{ entry.current_score|intcomma }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
        </div>
  </div>

  <div class="card border-light shadow-sm mb-4">
  <div class="card-body">
  <h4>Performance</h4>
  <hr />
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <div id="wrapper">
        <div id="performance-chart_container" data-entries-url-endpoint="{% url 'profile_performance_api' username=user.username %}">
          <canvas id="performanceChart" width="400" height="400"></canvas>
        </div>
        <div id="middle-element">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

<div class="card border-light shadow-sm mb-4">
  <div class="card-body">

    <h4>History</h4>
  <hr />

  <div id="history-charts_container" data-entries-url-endpoint="{% url 'profile_history_api' username=user.username %}" data-prize-url-endpoint="{% url 'prize_api' %}">
    <div class="row mt-3 mb-3">
    <div class="col-sm-6">
      <canvas id="positionChartCanvas" width="400" height="400"></canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="scoreChartCanvas" width="400" height="400"></canvas>
    </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-dark btn-sm" id="xaxis-toggle">Toggle X Axis</button>

  </div>
</div>

<script type="text/javascript" src="{% static 'users/entrant_performance_chart.js' %}"></script>
<script type="text/javascript" src="{% static 'users/entrant_history_charts.js' %}"></script>


{% endblock profile %}
