{% extends "users/profile_base.html" %}
{% load humanize %}

{% block button %}
<div class="col-1">
  <a href="{% url 'profile_edit' %}" class="btn btn-light btn-sm">Edit</a>
</div>
{% endblock button %}

{% block jquery %}

var chartDataEndpoint = $( "#chart_container" ).attr( "data-url-endpoint" )
var defaultScoreData = []
var defaultPositionData = []
var defaultLabels = []

$.ajax({
  method: "GET",
  url: chartDataEndpoint,
  success: function(data) {
    let scores = []
    let positions = []
    let labels = [1,2,3,4,5,6]
    let entryLabels = []

    // for (let score_log of data.entries[0].score_logs) {
    //   labels.push(score_log.called_bet.date)
    // }

    for (let entry of data.entries) {
      entryLabels.push(entry.label)

      entryScores = []
      for (let score_log of entry.score_logs) {
        entryScores.push(score_log.score)
      }
      scores.push(entryScores)

      entryPostions = []
      for (let position_log of entry.position_logs) {
        entryPostions.push(position_log.position)
      }
      positions.push(entryPostions)
    }

    defaultLabels = labels
    defaultScoreData = scores
    defaultPositionData = positions
    setChart(entryLabels)
  },
  error: function(error_data) {
    console.log(error_data)
  }
})

function setChart(entryLabels) {
  var ctx = document.getElementById('scoreChart').getContext('2d');
  var ctx2 = document.getElementById('positionChart').getContext('2d');

  scoreChartData = {}
  scoreChartData.labels = defaultLabels
  scoreChartData.datasets = []

  lineColourSet = ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)']
  areaColourSet = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)']
  i = 0
  for (let scores of defaultScoreData) {
    label = ""
        if (! entryLabels[i]) {
          label = "Entry";
        } else {
          label = 'Entry ' + entryLabels[i]
        }
    scoreChartData.datasets.push(
      {
        label: label,
        data: scores,
        backgroundColor: areaColourSet[i],
        borderColor: lineColourSet[i],
        pointBackgroundColor: lineColourSet[i],
        pointHoverBackgroundColor: lineColourSet[i],
        borderWidth: 3,
        pointRadius: 2,
        pointHoverRadius: 8,
        fill: false, //'origin',
        lineTension: 0
      }
    )
    i++
  }

  postionChartData = {}
  postionChartData.labels = defaultLabels
  postionChartData.datasets = []

  i = 0
  for (let positions of defaultPositionData) {
    label = ""
    if (! entryLabels[i]) {
      label = "Entry";
    } else {
      label = 'Entry ' + entryLabels[i]
    }
    postionChartData.datasets.push(
      {
        label: label,
        data: positions,
        backgroundColor: areaColourSet[i],
        borderColor: lineColourSet[i],
        pointBackgroundColor: lineColourSet[i],
        pointHoverBackgroundColor: lineColourSet[i],
        borderWidth: 3,
        pointRadius: 2,
        pointHoverRadius: 8,
        fill: false,
        lineTension: 0
      }
    )
    i++
  }

  // Score Chart
  var scoreChart = new Chart(ctx, {
    type: 'line',
    data: scoreChartData,
    options: {
      responsive: true,
      layout: {
          padding: {
              left: 0,
              right: 20,
              top: 20,
              bottom: 0
          }
        },
      tooltips: {
         mode: 'nearest',
         label: 'mylabel',
         callbacks: {
             label: function(tooltipItem, data) {
                 return data.datasets[tooltipItem.datasetIndex].label + ': '
                 + tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                 },
              },
      },
      legend: {
          position: 'bottom'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            callback: function(value, index, values) {
              if (Math.max(...values) > 1500) {
                return value / 1000 + 'k';
              }
              else {
                return value;
              }
            }
          },
          scaleLabel: {
          display: true,
          labelString: 'Score'
          },
        }]
      }
    }
  });

  // Position Chart
  var positionChart = new Chart(ctx2, {
    type: 'line',
    data: postionChartData,
    options: {
      responsive: true,
      layout: {
          padding: {
              left: 0,
              right: 20,
              top: 20,
              bottom: 0
          }
        },
      legend: {
          position: 'bottom',
          padding: 25
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMin: 1,
            beginAtZero: false,
            precision: 0,
            reverse: true,
          },
          scaleLabel: {
          display: true,
          labelString: 'Position'
        }
        }]
      }
    }
  });
}

{% endblock jquery %}

{% block profile %}

  <div class="card border-light shadow-sm mb-4">
  <div class="card-body">
    <h4>Summary</h4>
  <hr />

 <h5 class="mb-2 mt-3">Overall Game Progress</h5>
  <div class="progress mb-3 mt-3">
    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      {% for entry in user.profile.entries.all %}
        <th scope="col">{{ entry.label }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Current Position</th>
      {% for entry in user.profile.entries.all %}
        <td scope="col">{{ entry.current_position|ordinal }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">Current Score</th>
      {% for entry in user.profile.entries.all %}
        <td scope="col">{{ entry.current_score|intcomma }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
        </div>
  </div>

  <div class="card border-light shadow-sm mb-4">
  <div class="card-body">
  <h4>Performance</h4>
  <hr />
  <div class="row">
    <div class="col">
      <h5>Group Matches</h5>
      <div class="progress mb-3 mt-3">
        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
      <h5>Group Winners</h5>
      <div class="progress mb-3 mt-3">
        <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
      </div>
      <h5>Top Teams</h5>
      <div class="progress mb-3 mt-3">
        <div class="progress-bar bg-info" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
      </div>
      <h5>Tournament Totals</h5>
      <div class="progress mb-3 mt-3">
        <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
      <h5>50/50s</h5>
      <div class="progress mb-3 mt-3">
        <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">10%</div>
      </div>
      <h5>The Final</h5>
      <div class="progress mb-3 mt-3">
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
      </div>
    </div>
    <div class="col">
      <div id="wrapper">
        <div>
          <canvas id="myChart" width="400" height="400" class="grayout"></canvas>
        </div>
        <div id="middle-element">
          <h3 class="text-muted">COMING SOON</h3>
        </div>
      </div>
    </div>
  </div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ['Group Winners', 'Top Teams', 'Tournament Totals', 'The Final', '50/50s', 'Group Matches'],
        datasets: [{
            label: 'Entry A',
            data: [45, 19, 60, 33, 12, 20],
            borderWidth: 1
        }, {
            label: 'Entry B',
            data: [53, 49, 20, 53, 32, 40],
            borderWidth: 1
        }]
    },
    options: {
        scale: {
            ticks: {
                suggestedMin: 0,
                beginAtZero: true,
                min: 0,
                max: 100,
                stepSize: 25
            }
        },
        animation: {
            duration: 0
        },
        tooltips: {
           enabled: false
        }
    }
});
</script>
  </div>
  </div>

<div class="card border-light shadow-sm mb-4">
  <div class="card-body">

    <h4>History</h4>
  <hr />

  <div id="chart_container" data-url-endpoint="{% url 'profile_api' username=user.username %}">
    <div class="row mt-3">
    <div class="col-sm-6">
      <canvas id="positionChart" width="400" height="400"></canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="scoreChart" width="400" height="400"></canvas>
    </div>
    </div>
    </div>

  </div>
</div>

{% endblock profile %}
