{% extends "feed/base.html" %}

{% block content %}
<div class="col-12 mt-4">
<div class="card border-light shadow-sm mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}">
      </div>
      <div class="col-10">
        <div class="media-body">
          {% if user.first_name and user.last_name %}
          <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h2>
          {% else %}
          <h2 class="account-heading">{{ user.username }}</h2>
          {% endif %}
          {% if request.user == user %}
          {% block button %}
          {% endblock button %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card border-light shadow-sm mb-4">
  <div class="card-body">
    {% block profile %}
    {% endblock profile %}
  </div>
  <script>
    $(document).ready(function() {
      {% block jquery %} {% endblock %}
    })
  </script>
</div>
</div>
{% endblock content %}
