{% extends "feed/base.html" %}
{% load humanize %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-12 col-lg-9 mt-4">
  <h2>About</h2>
  <div class="card border-light shadow mb-4">
    <div class="card-body">
      <h3>Lessons Learnt From Past Competitions</h3>
      <ul>
        <li>So called football experts rarely win this competition</li>
        <li>The game is skewed towards the final. This allows for a great ending as most people may still be able to win</li>
        <li>The older you become and the more football you watch, the less you really know about the game</li>
        <li>For those who are not married, get married and let your partner do your entry</li>
        <li>Have another child and let your one year old make the selections</li>
        <li>Watch less football</li>
        <li>Do not laugh at your partner or child. After they have completed their entry, copy some of their selections when they are not looking</li>
        <li>Do not laugh when someone picks a team based on looks or on their favourite colour</li>
        <li>Do not tease your partner or child saying they do not know anything about football because they tend to beat you</li>
      </ul>
    </div>
  </div>

</div>

{% endblock content %}