{% extends "feed/base.html" %}
{% load humanize %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-12 col-lg-9 mt-4">
  <h2>Charity</h2>
  <div class="card border-light shadow mb-4">
    <div class="card-body">
      <p>
      In 2010 the charity element was donated go to special needs children. 
      The children faced physical , educational, emotional and social challenges. 
      The money raised provided  playground games for the children to learn and enjoy.
      In 2016 we purchased food and supplies and handed these over to Marilyn and her fantastic team of helpers. 
      For each £1 collected, Marilyn was able to produce 3 portions of hot homemade tasty food. 
      These portions were distributed to those most vulnerable in Manchester.
      </p>
    </div>
  </div>

</div>

{% endblock content %}