{% extends "feed/base.html" %}
{% load humanize %}
{% load svg %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-12 col-lg-9 mt-4">
  
  <h2>Feed</h2>

  <div class="card text-center mb-4">
    <div class="card-body">
      <h5 class="card-title">Ready to Create Your Game Entry?</h5>
      <p class="card-text">Click this link below to be taken to the Entry Manager where you can create, edit and submit entries.</p>
      <a href="{% url 'enter:index' %}" class="btn btn-primary">Let's begin</a>
    </div>
  </div>
  
  {% if pinned_post %}
  <div class="card border-secondary shadow mb-4">
    <div class="card-body">
      <div class="media">
        <a class="mr-2" href="{% url 'profile' username=pinned_post.author.username %}">
          <img class="rounded-circle article-img" src="{{pinned_post.author.profile.profile_picture.url }}">
        </a>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' username=pinned_post.author.username %}">{{ pinned_post.author }}</a>
            <small class="text-muted">{{ pinned_post.date_posted|naturaltime }}</small>
            {% svg 'bookmark_icon' %}
          </div>
          <h3><a class="article-title" href="{% url 'feed:detail' pinned_post.id %}">{{ pinned_post.title }}</a></h3>
          <p class="article-content">{{ pinned_post.content|truncatewords_html:50|safe }}</p>
        </div>
      </div>
    </div>
    {% if pinned_post.sticker %}
    <img class="sticker-img" src="{{pinned_post.sticker.sticker_picture.url }}">
    {% endif %}
  </div>
  {% endif %}

  {% for post in posts %}

  {% if not post.is_pinned %}
  <div class="card border-light shadow mb-4">
    <div class="card-body">
      <div class="media">
        <a class="mr-2" href="{% url 'profile' username=post.author.username %}">
          <img class="rounded-circle article-img" src="{{post.author.profile.profile_picture.url }}">
        </a>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' username=post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|naturaltime }}</small>
          </div>
          <h3><a class="article-title" href="{% url 'feed:detail' post.id %}">{{ post.title }}</a></h3>
          <p class="article-content">{{ post.content|truncatewords_html:50|safe }}</p>
        </div>
      </div>
    </div>
    {% if post.sticker %}
    <img class="sticker-img" src="{{post.sticker.sticker_picture.url }}">
    {% endif %}
  </div>
  {% endif %}

  {% empty %}
  <div class="card text-center border-light shadow-sm mb-4">
    <div class="card-body">
      <h5>No posts yet, watch this space...</h5>
    </div>
  </div>
  {% endfor %}

  <!--Pagination-->
  {% if is_paginated %}
  <nav class="mb-3">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">Latest</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Next</a></li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">First</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  <!--end of Pagination-->

</div>

<script>
  $(document).ready(function () {
    $('#home-navbar-link').addClass('active');
  });
</script>

{% endblock content %}