{% extends "feed/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-12 col-lg-9 mt-4">
  <h2>Post Detail</h2>
  <div class="card border-light shadow-sm mb-3">
    <div class="card-body">
      <div class="media d-block d-md-flex">
        <a class="mr-2" href="{% url 'profile' username=post.author.username %}">
          <img class="rounded-circle article-img" src="{{post.author.profile.profile_picture.url }}">
        </a>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' username=post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|naturaltime }}</small>
          </div>
          <h3><a class="article-title" href="{% url 'feed:detail' post.id %}">{{ post.title }}</a></h3>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>

  {% if post.post_type == 'B' %}
  <div class="card border-light shadow-sm mb-5">
    <div class="card-body">
      <h2>Bet Stats</h2>
      <div class="row">
        <div class="col-md">
        </div>
        
        <div class="col-md">
          <div id="bet-success-chart_container"
            data-bet-success-url-endpoint="{% url 'enter:bet_success_api' called_bet_id=post.called_bet.id %}">
            <canvas id="betSuccessChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% if post.post_type == 'B' %}
<script type="text/javascript" src="{% static 'feed/bet_success_chart.js' %}"></script>
{% endif %}


{% endblock content %}