{% load humanize %}
{% load static %}


<div class="col-sm-3 d-none d-lg-block sidebar">
  <div class="sticky-top sticky-offset">
    <div class="card border-light shadow" id="account-profile" data-url-endpoint="{% url 'enter:my_entries_api' %}" data-prize-url-endpoint="{% url 'prize_api' %}">
      <div class="card-body text-center">
        <a href="{% url 'profile' username=request.user.username %}">
          <img class="rounded-circle account-img-md" src="{{ request.user.profile.profile_picture.url }}">
        </a>
        <div class="mt-4">
          <a href="{% url 'profile' username=request.user.username %}"
            class="account-name">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        </div>
        <div>
          <a href="{% url 'profile' username=request.user.username %}"
            class="account-username text-muted">@{{ request.user.username }}</a>
        </div>
        <hr />
        <h5 class="mb-2 mt-3">Position</h5>
        <div id="positions-container"></div>
        <hr />
        <h5 class="mb-2 mt-3">Score</h5>
        <div id="scores-container"></div>
        <hr />
        <h5 class="mb-1 mt-3">Form</h5>
        <small class="text-muted mb-2">Last 5 results</small>
        <div id="form-container"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'feed/profile_sidebar_components.js' %}"></script>

<script>
  $(document).ready(function () {
    $("body").tooltip({
      selector: '[data-toggle=tooltip]'
    });
  });
</script>