header {
  height: 55px;
}

body {
  background-color: #f7f7fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #73797d;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.card-footer {
  background: #ffffff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-name {
  margin-top: 10px;
  color: #444444;
  font-size: 25px;
}

.account-name:hover {
  color: #8c8b8b;
  text-decoration: none;
}

.account-username:hover {
  color: #8c8b8b;
  text-decoration: none;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #8c8b8b;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 50px;
  width: 50px;
  margin-right: 16px;
}

.correct-dot {
  height: 20px;
  width: 20px;
  background-color: #8cff75;
  border-radius: 50%;
  display: inline-block;
}

.incorrect-dot {
  height: 20px;
  width: 20px;
  background-color: #ed5a5a;
  border-radius: 50%;
  display: inline-block;
}

.card {
  position: relative;
  top: 0;
  left: 0;
}

.sticker-img {
  position: absolute;
  top: -20%;
  left: 92%;
  height: 120px;
  width: 120px;
  margin-right: 16px;
  -webkit-filter: drop-shadow(3px 3px 0 white) drop-shadow(-3px 3px 0 white) drop-shadow(3px -3px 0 white) drop-shadow(-3px -3px 0 white);

  filter: drop-shadow(3px 3px 0 white) drop-shadow(-3px 3px 0 white) drop-shadow(3px -3px 0 white) drop-shadow(-3px -3px 0 white);
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-img-sm {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

.account-img-md {
  height: 90px;
  width: 90px;
}

#account-profile {
  margin-top: 70px;
}

.account-heading {
  margin-bottom: 0;
}

.sticky-offset {
  top: 125px;
}

.entry_section {
  background: white;
  border: 2px solid lightgrey;
  border-radius: 15px;
  padding: 10px;
}

.new_entry_section {
  background: white;
  border: 2px solid lightgrey;
  border-style: dashed;
  border-radius: 8px;
  padding: 10px;
}

.score-list {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.column-bolded {
  font-weight: bold;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid green;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid tomato;
}

.pic-link {
  text-decoration: none !important;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.grayout {
  opacity: 0.5;
  /* Real browsers */
  filter: alpha(opacity=60);
  /* MSIE */
}

#middle-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table a {
  display: block;
  text-decoration: none;
}

.score-bar {
  width: 100px;
  margin: 6px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.score-bar canvas {
  vertical-align: top;
}

.score-bar strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}