
canvas {
  position: relative;
  top: 0;
  left: 0;
  z-index: -3 !important;
}

section {
  padding-top: 50px;
  padding-bottom: 250px;
}

#sign-up svg {
  height: 120px;
  width: 120px;
}

.short-name {
  display: none;
}

.long-name {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .long-name {
    display: none;
  }

  .short-name {
    display: inline-block;
  }
}