{% extends "enter/enter_base.html" %}
{% load static %}
{% load svg %}

{% block content %}
<div class="entry-header">
  <h1 class="text-center mt-4">{% svg 'football-game-logo' %}
  <b>Football Game | Euro '20</b></h1>
  <h2 class="text-center mb-4">Entry Form</h2>
</div>
<div class="entry-body">
  <form method="POST" id="entry-form">
    <div class="btn-group" role="group" id="btn-group-1">
      <a href="{% url 'enter:index' %}" class="btn btn-secondary btn-sm return-btn mr-1" id="return-btn-1">Back</a>
      <button type="submit" class="btn btn-primary btn-sm" value="Save">Save</button>
    </div>
    {% csrf_token %}
    {% include 'enter/form.html' %}
    <div class="btn-group" role="group" id="btn-group-2">
      <a href="{% url 'enter:index' %}" class="btn btn-secondary btn-sm return-btn mr-1" id="return-btn-1">Back</a>
      <button type="submit" class="btn btn-primary btn-sm" value="Save">Save</button>
    </div>
  </form>
</div>

<script type="text/javascript" src="{% static 'enter/randomise.js' %}"></script>

{% endblock content %}