{% extends "enter/enter_base.html" %}

{% load static %}
{% load svg %}

{% block content %}

<!-- Read-only CSS -->
<link href="{% static 'enter/read-only-style.css' %}" rel="stylesheet">

<h1 class="text-center">{% svg 'football-game-logo' %}
Football Game | Euro '21</h1>

{% if entry.label %}
<h2 class="text-center">{{ entry.profile.user.username }}'s Entry {{ entry.label }}</h2>
{% else %}
<h2 class="text-center">{{ entry.profile.user.username }}'s Entry</h2>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <button onclick="window.print();return false;" class="btn btn-outline-secondary btn-sm no-print">Print</button>
  <fieldset disabled="disabled">
    {% include 'enter/form.html' %}
  </fieldset>
</form>
{% endblock content %}