{% extends "feed/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-12 col-lg-9 mt-4">
<h2>Explore</h2>

<div class="card border-light shadow-sm mb-4">
  <div class="card-body">
    <div id="all-history-chart-container" data-all-history-url-endpoint="{% url 'all_history_api' %}" data-prize-url-endpoint="{% url 'prize_api' %}">
      <canvas id="allHistoryChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="{% static 'users/all_history_chart.js' %}"></script>

{% endblock content %}