<div class="row">
  <div class="form_section col-md-6 col-lg-6  rounded-lg" id="group_games">
    <h3>Group Matches</h3>
    <p class="help_text">Select either home, draw or away wins for every game below.</p>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Home</th>
        <th>Draw</th>
        <th>Away</th>
      </tr>
      {% for field in group_matches_form %}
      <tr>
        <td class="match_label text-muted">{{ field.label.ko_time|date:'H:00' }}</td>
        <td class="match_label text-muted">{{ field.label.ko_time|date:'D d' }}</td>
        <td class="match_label">{{ field.label.home_team.country.name }} vs {{ field.label.away_team.country.name }}
        </td>
        {% for radio in field %}
        <td class="text-muted">
          {{ radio }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="form_section col-md-6 col-lg-3 rounded-lg" id="group_winners-bets">
    <h3>Group Winners</h3>
    <p class="help_text">Select one winner in each group.</p>
    {% for field in group_winner_bets_form %}
    <b>{{ field.label }}</b>
    <table>
      <tr>
        <td class="pt-0 pb-0">
          <table>
            {% for choice in field.field.queryset %}
            <tr>
              <td class="pt-0 pb-0">{{ choice.team.country.name }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
        <td>
          <table>
            {% for radio in field %}
            <tr>
              <td class="match_radio text-muted">{{ radio }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
    {% endfor %}
  </div>

  <div class="col-md-6 col-lg-3 rounded-lg pl-0 pr-0" id="top-goalscoring-bets">
    <div class="form_section" id="top-goalscoring-group-bet">
      <h3>Top Goalscoring Group</h3>
      <p class="help_text">Select one group.</p>
      {% for field in top_goal_group_bets_form %}
      <table>
        <tr>
          <td class="pt-0 pb-0">
            <table>
              {% for choice in field.field.queryset %}
              <tr>
                <td class="pt-0 pb-0">Group {{ choice.group.name }}</td>
              </tr>
              {% endfor %}
            </table>
          </td>
          <td>
            <table>
              {% for radio in field %}
              <tr>
                <td class="match_radio text-muted">{{ radio }}</td>
              </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
      {% endfor %}
    </div>

    <div class="form_section" id="top-goalscoring-player-bet">
      <h3>Top Goalscorer</h3>
      <p class="help_text">Select one player.</p>
      {% for field in top_goal_player_bets_form %}
      <table>
        <tr>
          <td class="pt-0 pb-0">
            <table>
              {% for choice in field.field.queryset %}
              <tr>
                <td class="pt-0 pb-0">{{ choice.player.first_name }} {{ choice.player.last_name }}</td>
              </tr>
              {% endfor %}
            </table>
          </td>
          <td>
            <table>
              {% for radio in field %}
              <tr>
                <td class="match_radio text-muted">{{ radio }}</td>
              </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
      {% endfor %}
    </div>
  </div>

  <div class="form_section col-md-6 col-lg-3 rounded-lg" id="tournament-bets">
    <h3>Tournament Totals</h3>
    <p class="help_text">Select one of each.</p>
    {% for field in tournament_bets_form %}
    {{ field.label }}
    <table>
      <tr>
        <td class="pt-0 pb-0">
          <table>
            {% for choice in field.field.queryset %}
            <tr>
              <td class="pt-0 pb-0">{{ choice.verbose_outcome }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
        <td>
          <table>
            {% for radio in field %}
            <tr>
              <td class="match_radio text-muted">{{ radio }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
    <!--        <table class="outcomes-table">-->
    <!--        {% for choice in field.field.queryset %}-->
    <!--          <tr>-->
    <!--          <td>{{ choice.min_value }} to {{ choice.max_value }}</td>-->
    <!--          <td class="text-muted">-->
    <!--            <input value="{{ choice.id }}" type="radio" name="{{ field.label }}" required/>-->
    <!--            {{ choice.winning_amount }}-->
    <!--          </td>-->
    <!--         </tr>-->
    <!--        {% endfor %}-->
    <!--        </table>-->
    {% endfor %}
  </div>

  <div class="form_section col-md-6 col-lg-3 rounded-lg" id="final-bets">
    <h3>During the Final</h3>
    <p class="help_text">Select one of each.</p>
    {% for field in final_bets_form %}
    {{ field.label }}
    <table>
      <tr>
        <td class="pt-0 pb-0">
          <table>
            {% for choice in field.field.queryset %}
            <tr>
              <td class="pt-0 pb-0">{{ choice.verbose_outcome }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
        <td>
          <table>
            {% for radio in field %}
            <tr>
              <td class="match_radio text-muted">{{ radio }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
    {% endfor %}
  </div>

  <div class="form_section col-md-6 col-lg-5 rounded-lg" id="fifty-fifty-bets">
    <h3>50/50's</h3>
    <p class="help_text">Select one of each.</p>
    <table>
      <tr>
        <th></th>
        <th>Yes</th>
        <th>No</th>
      </tr>
      {% for field in fifty_fifty_bets_form %}
      <tr>
        <td class="pt-0 pb-0">
          {{ field.label.question }}
        </td>
        {% for radio in field %}
        <td class="match_radio text-muted">
          {{ radio }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="form_section col-md-12 col-lg-8 rounded-lg" id="best-team-bets">
    <h3>Top Teams</h3>
    <p class="help_text">Select one from each column.</p>

    <table>
      <tr>
        <th></th>
        {% for field in best_teams_success_bets_form %}
        <th>{{ field.label }}</th>
        {% endfor %}
      </tr>

      <tr>
        <td>
          <table>
            {% for field in best_teams_success_bets_form %}
            {% if forloop.first %}
            {% for choice in field.field.queryset %}
            <tr>
              <td>{{ choice.team.country.name }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </table>
        </td>

        {% for field in best_teams_success_bets_form %}
        <td>
          <table>
            {% for radio in field %}
            <tr>
              <td class="text-muted">{{ radio }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
        {% endfor %}
      </tr>

    </table>
  </div>

</div>