{% extends "feed/base.html" %}
{% load humanize %}
{% load svg %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-12 col-lg-9 mt-4">
  <h2>Entry Manager</h2>
  <div class="card border-light shadow mb-4">
    <div class="card-body">
      <div class="pb-4">You can submit up to 3 entries per person. Each entry costs £8.50 and must be submitted by 23:59 10th June.
      </div>
      <div class="mb-4 text-muted">
      E' possibile compilare fino a 3 schede a persona. Ogni scheda ha un costo di 10 Euro e deve essere inviato entro le 23:59 del 10 Giugno.
      </div>
      <div class="row row-cols-1 row-cols-md-3">
        {% for entry_and_progress in entries_and_progress %}
        <div class="col mb-4">
          {% if has_deadline_passed and not entry_and_progress.entry.has_submitted %}
          <div class="card h-100 muted-card">
          {% else %}
          <div class="card h-100">
          {% endif %}
            {% if entry_and_progress.entry.label %}
            <div class="card-header hex-labeled-entry">
              <h3 class="mr-2">Entry</h3>
              {% if entry_and_progress.entry.label == 'A' %}
              {% svg 'A-label' %}
              {% elif entry_and_progress.entry.label == 'B' %}
              {% svg 'B-label' %}
              {% elif entry_and_progress.entry.label == 'C' %}
              {% svg 'C-label' %}
              {% endif %}
            </div>
            {% else %}
            <div class="card-header">
              <h3>My Entry</h3>
            </div>
            {% endif %}
            <div class="card-body">
              <div class="card-text mb-1">Complete: {{ entry_and_progress.progress }}%</div>
              <div class="progress mb-2" style="height: 5px;">
                <div class="progress-bar bg-primary" role="progressbar"
                  style="width: {{ entry_and_progress.progress }}%" aria-valuenow="{{ entry_and_progress.progress }}"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="card-text mb-4">Submitted: {{ entry_and_progress.entry.has_submitted|yesno:"Yes,No" }}</div>
              {% if entry_and_progress.entry.has_submitted %}
              <a href="{% url 'enter:view_entry' entry_and_progress.entry.id %}"
                class="btn btn-outline-secondary btn-sm mr-1">View</a>
              {% else %}
              {% if entry_and_progress.progress == 100 and not has_deadline_passed %}
              <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2" data-toggle="modal"
                data-target="#submitModalForEntry{{ entry_and_progress.entry.id }}">
                Submit
              </button>
              {% else %}
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="You can only submit fully complete entries">
              <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2" style="pointer-events: none;" disabled>
                Submit
              </button>
              </span>
              {% endif %}
              {% if not has_deadline_passed %}
              <a href="{% url 'enter:entry' entry_and_progress.entry.id %}"
                class="btn btn-outline-secondary btn-sm mr-1 mb-2">Edit</a>
              <button type="button" class="btn btn-outline-danger btn-sm mb-2" data-toggle="modal"
                data-target="#deleteModalForEntry{{ entry_and_progress.entry.id }}">
                Delete
              </button>
              {% else %}
              <a href="{% url 'enter:entry' entry_and_progress.entry.id %}"
                class="btn btn-outline-secondary btn-sm mr-1 mb-2 disabled">Edit</a>
              <button type="button" class="btn btn-outline-danger btn-sm mb-2" data-toggle="modal"
                data-target="#deleteModalForEntry{{ entry_and_progress.entry.id }}" disabled>
                Delete
              </button>
              {% endif %}
              {% endif %}
            </div>
            <div class="card-footer">
              {% if entry_and_progress.entry.date_submitted %}
              <small class="text-muted">Submitted on: {{ entry_and_progress.entry.date_submitted|date:"D d M Y" }}</small>
              {% else %}
              <small class="text-muted">Updated: {{ entry_and_progress.entry.date_updated|naturaltime }}</small>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Submit Entry Modal -->
        <div class="modal fade" id="submitModalForEntry{{ entry_and_progress.entry.id }}" tabindex="-1" role="dialog"
          aria-labelledby="submitModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="submitModalLabel">Submit Entry Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to submit this entry? This action cannot be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No, Take Me Back</button>
                <a href="{% url 'enter:submit_entry' entry_and_progress.entry.id %}" class="btn btn-primary">Confirm
                  Submission</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Delete Entry Modal -->
        <div class="modal fade" id="deleteModalForEntry{{ entry_and_progress.entry.id }}" tabindex="-1" role="dialog"
          aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Entry Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to permanently delete this entry? This action cannot be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No, Take Me Back</button>
                <a href="{% url 'enter:delete_entry' entry_and_progress.entry.id %}" class="btn btn-danger">Confirm
                  Deletion</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% if num_of_entries < 3 and not has_deadline_passed %}
        <div class="col mb-4">
          <div class="card new-entry-card h-100">
            <div class="card-body">
            <a href="{% url 'enter:create_entry' %}" class="btn btn-outline-primary">+ New Entry</a>
            <h5>or</h5>
            <a href="{% url 'enter:create_random_entry' %}" class="btn btn-outline-primary">+ Random Entry</a>
            </div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  {% comment %} <div class="card border-light shadow">
    <div class="card-body">
      <h5>Game Rules Summary</h5>
      <ol>
        <li>Each entry costs £8.50 and must be paid by 11th June 2021</li>
        <li>Entries must be submitted in order to enter the game</li>
        <li></li>
      </ol>
    </div>
  </div> {% endcomment %}
</div>

<script>
  $(document).ready(function () {
    $('#enter-navbar-link').addClass('active');
  });
</script>

{% endblock content %}