{% extends "feed/base.html" %}
{% load humanize %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-12 col-lg-9 mt-4">
<h2>Leaderboards</h2>

<div class="card border-light shadow-sm mb-4">
  <div class="card-body">
    <div id="table_container" data-url-endpoint="{% url 'enter:all_entries_api' %}">
      <h3>Overall Leaderboard</h3>
        <hr />
      <table id="overall_leaderboard" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th class="all"></th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Form</th>
                    <th>Upcoming</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Pos</th>
                    <th class="all"></th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Form</th>
                    <th>Upcoming</th>
                    <th>Score</th>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var tableDataEndpoint = $( "#table_container" ).attr( "data-url-endpoint" );
    createTable();

    function createTable() {
      $('#overall_leaderboard').DataTable( {
          ajax: {
            "url": tableDataEndpoint,
            "dataSrc": ""
          },
          // processing: true,
          orderClasses: false,
          responsive: true,
          order: [[ 0, "asc" ]],
          columns: [
              { data: "current_position",
                render: function ( data, type, row, meta ) {
                  if ( type === 'display' || type === 'filter' ) {
                  let latestPositionLog = row.position_logs[row.position_logs.length - 1];
                  let previousPositionLog = row.position_logs[row.position_logs.length - 2];
                  if (previousPositionLog) {
                    if (latestPositionLog.position > previousPositionLog.position) {
                      return `<div>${data}</div> <div class="arrow-down"></div>`;
                    } else if (latestPositionLog.position < previousPositionLog.position) {
                      return `<div class="arrow-up"></div> <div>${data}</div>`;
                    } else {
                      return data;
                    }
                    } else {
                      return data;
                    } }
                  return data;
                  }
                },
              { data: "profile",
                render: function ( data, type, row ) {
                    return `<a href="/profile/${data.user.username}" class="pic-link">
                              <img class="rounded-circle account-img-sm" src="${data.profile_picture}" />
                            </a>
                            ${row.label ? row.label : ''}`;
                    }
                },
              { data: "profile.user.username",
                render: function ( data, type, row, meta ) {
                  if ( type === 'display' || type === 'filter' ) {
                  return `<a href="/profile/${data}" class="text-dark">${data}</a>`;
                    }
                  return data;
                  }
                },
              { data: "profile",
                render: function ( data, type, row ) {
                    return `${data.user.first_name} ${data.user.last_name}`;
                    }
                },
              { data: "profile",
                render: function ( data, type, row ) {
                    return `${data.user.first_name} ${data.user.last_name}`;
                    }
                },
              { data: "profile",
                render: function ( data, type, row ) {
                    return `${data.user.first_name} ${data.user.last_name}`;
                    }
                },
              { data: "current_score",
                render: $.fn.dataTable.render.number( ',' )},
          ],
          columnDefs: [
          {
            targets: '_all',
            defaultContent: "-"
          },{
            targets: 1,
            orderable: false
          }, {
            targets: 0,
            className: 'column-bolded'
          }, {
            targets: 0,
            responsivePriority: 1
           },  {
            targets: 2,
            responsivePriority: 3
           }, {
            targets: -1,
            responsivePriority: 2
           },
          // {
          //  targets: 5,
          //  render: function(data, type, full, meta) {
          //    if (type === 'display' && data == 1) {
          //      console.log(meta);
          //      var rowIndex = meta.row+1;
           //     $('#overall_leaderboard tbody tr:nth-child('+rowIndex+')').css("background-color", "#ffffe6");
           //     return data;
           //   } else if (type === 'display' && data == 2) {
           //   console.log(meta);
           //     var rowIndex = meta.row+1;
            //    $('#overall_leaderboard tbody tr:nth-child('+rowIndex+')').css("background-color", "#fffff5");
           //     return data;
            //  }
            //  else {
            //    return data;
            //  }
            //}
          //}
          ],
      } );
    }
  } );
</script>

{% endblock content %}