{% extends "feed/base.html" %}
{% load humanize %}

{% block content %}

{% include 'feed/profile_sidebar.html'%}

<div class="col-9 mt-4">
<h2>Leader Boards</h2>

<div class="card border-light shadow-sm mb-4">
  <div class="card-body">
    <div id="table_container" url-endpoint="{% url 'enter:all_entries_api' %}">
      <h3>Overall Leader Board</h3>
        <hr />
      <table id="overall_leader_board" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Entry ID</th>
                    <th>Score</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Entry ID</th>
                    <th>Score</th>
                    <th>Position</th>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var tableDataEndpoint = $( "#table_container" ).attr( "url-endpoint" )

    $.ajax({
            method: "GET",
            url: tableDataEndpoint,
            success: function(entries) {
              // console.log(entries);
              $('#overall_leader_board').DataTable( {
                  data: entries,
                  columns: [
                      { data: "profile.profile_picture",
                        render: function ( data, type, row ) {
                            return '<img class="rounded-circle account-img-sm" src="' + data+ '" />';
                            }
                        },
                      { data: "profile",
                        render: function ( data, type, row ) {
                            return `${data.user.first_name} ${data.user.last_name}`;
                            }
                        },
                      { data: "profile.user.username",
                        render: function ( data, type, row, meta ) {
                          return `<a href="/profile/${data}" class="text-dark">${data}</a>`;
                          }
                        },
                      { data: "id" },
                      { data: "current_score",
                        render: $.fn.dataTable.render.number( ',' )},
                      { data: "current_position",
                        render: function ( data, type, row, meta ) {
                          if (row.position_logs[row.position_logs.length - 1].position > row.position_logs[row.position_logs.length - 2].position) {
                            return `${data} 🔻`;
                          } else if (row.position_logs[row.position_logs.length - 1].position < row.position_logs[row.position_logs.length - 2].position) {
                            return `${data} 🔺`;
                          } else {
                            return data;
                          }
                        }
                        },
                  ],
                  columnDefs: [
                  {
                    targets: '_all',
                    defaultContent: "-"
                  },{
                    targets: [0, 3],
                    orderable: false
                  }, // {
                  //  targets: 5,
                  //  render: function(data, type, full, meta) {
                  //    if (type === 'display' && data == 1) {
                  //      console.log(meta);
                  //      var rowIndex = meta.row+1;
                   //     $('#overall_leader_board tbody tr:nth-child('+rowIndex+')').css("background-color", "#ffffe6");
                   //     return data;
                   //   } else if (type === 'display' && data == 2) {
                   //   console.log(meta);
                   //     var rowIndex = meta.row+1;
                    //    $('#overall_leader_board tbody tr:nth-child('+rowIndex+')').css("background-color", "#fffff5");
                   //     return data;
                    //  }
                    //  else {
                    //    return data;
                    //  }
                    //}
                  //}
                  ],
                  processing: true,
                  orderClasses: false,
                  order: [[ 5, "asc" ]],
              } );
            }
          })
  } );
</script>

{% endblock content %}